.container {
    padding: 5% 10%;
}

body {
    font-family: "Noto Sans Arabic", serif
  }
  
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    display: block;
    transition: transform 0.5s;
}

.work:hover img {
    transform: scale(1.1);
}

.layer h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.layer a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 60px;
}



nav .fa-solid {
    display: none;
}

/* Responsive CSS */
@media screen and (max-width:1200px) {


    .container {
        padding: 15% 10%;
    }

    ul#sidemenu.active {
        display: block;
    }


    .sub-tittle-about {
        padding: 15px 0px 0px 0px;
    }

    nav {
        padding-top: 45px;

    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }


    #about {
        padding-top: 0;
    }

    .row {
        display: block;
    }

    .header-text {
        margin-top: 50%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
    }




    nav ul li a {
        color: black;
    }

    nav ul li {
        color: var(--text-color);
        display: block;
        margin: 25px;
    }
}

@media screen and (max-width:650px) {

    .nav {
        margin-top: 0%;
    }

    .container {
        padding: 20% 10%;
    }
}